# Framework principal
fastapi==0.110.0
uvicorn[standard]==0.30.0

# ORM y conexión a MySQL
sqlalchemy==2.0.23
pymysql
sqlmodel

# Seguridad y autenticación
python-jose[cryptography]
passlib[bcrypt]

# Validación de datos (versión 1.x compatible)
pydantic==1.10.13

# Manejo de formularios y uploads
python-multipart

# Extracción de tablas de PDF
tabula-py
pdfplumber

# Variables de entorno
python-dotenv

# Envío de emails
fastapi-mail==1.4.1

